*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: sans-serif , "work sans";
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width:767px) {
  .container{
    width: 750px;
  }
}
@media (min-width:992px) {
   .container{
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container{
    width: 1170px;
  }
}
 /* Start Header */
header{
/* width: 100%; */
height: 100vh;
background-color: #F9FDFA;
padding-top: 30px;
}
header .navbar{
  display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 90px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
}
header .navbar .logo{
  font-size: 30px;
  color: #FF715D;
  font-weight: bold;
  padding: 0 15px;
}
header .navbar a{
  text-decoration: none;
}
header .navbar nav{
  flex: 1;
  display: flex;
  justify-content: flex-end ;
  align-items: center;
}
header .navbar nav .toggle-bar{
  font-size: 20px;
  display: none;

}
header .navbar nav ul{
  display: flex;
  list-style: none;
}
header .navbar nav ul li a{
  display: block;
  color: black;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
  margin: 0 12px;
  position: relative;
  padding: 0;
  padding-bottom: 10px;
  border: 1px solid transparent
}
header .navbar nav ul li.active a{
  border-bottom: 1px solid #FF715D;
}
header .navbar nav ul li a:hover,
header .navbar nav ul li a:active{
  border-bottom: 1px solid #FF715D;
}
header .navbar nav .btn{
  background-color: #FF715D;
  color: white;
  border-color: #FF715D;
  border-radius: 50px;
  padding: 8px 20px;
  margin-right: 10px
}
.section{
  display: flex;
  align-items: center;
  height: calc(100vh - 90px);
}
.section .container{
  height: 100%;
  display: flex;
}
.section .container .left-section{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
}
.section .container .left-section h1{
  font-size: 40px;
  margin-bottom: 24px;
  font-weight: normal;
  line-height: 1.2;
  color: #132339;
}
.section .container .left-section h1 span{
font-size: 39px;
font-weight: bold;
color: #132339;
display: block;
}
.section .container .left-section p{
  color: #565c64;
  font-size: 14px;
  margin-bottom: 24px;
}
.section .container .left-section .btn{
   max-width: 200px;
  background-color: #FF715D;
  border-color: #FF715D;
  color: #fff;
  padding: 12px;
  border-radius: 50px;
  text-align: center;
}
.section .container .left-section  a.btn {
  text-decoration: none;
}
.section .container .right-section{
  width: 50%;
  height: 100%;
  background-image: url('../images/hero-img.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 90% 90%;
}
.features{
  padding: 80px 0;
  min-height: 100vh;
  border-bottom: 1px solid #eee;
  display: flex;
}
.featurs .container{
  height: 100%;
}
.features .title-feature h3{
  position: relative;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}
.features .title-feature h3:after{
  content: "";
  position: absolute;
  width: 55px;
  height: 3px;
  bottom: -7px;
  left: 2px;
  background-color: #FF715D;
}
.features .row{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .card{
  padding: 40px 50px;
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: 0 0 6px #ececec;
  -moz-box-shadow: 0 0 6px #ececec;
  -o-box-shadow: 0 0 6px #ececec;
  box-shadow: 0 0 6px #ececec;
}
.features .card:hover{
  box-shadow: 0 20px 40px 1px #ccc;
  -webkit-box-shadow: 0 20px 40px 1px #ccc;
  -moz-box-shadow: 0 20px 40px 1px #ccc;
  -o-box-shadow: 0 20px 40px 1px #ccc;
  transition: all .3 ease-in-out;
  cursor: pointer;
}
.features .card:hover a{
  color: #FF715D
}
.features .card .icons{
  margin-bottom: 16px;
}
.features .card .icons i{
  color: #FF715D;
  font-size: 45px
}
.features .card h3{
  font-size: 20px;
  color: #132339;
  margin-bottom: 16px
}
.features .card p{
  font-size: 15px;
  color: #565c64;
  margin-bottom: 24px
}
.features .card a{
  color: #132339;
  text-decoration: none;
  font-weight: bold;
}
/* Start About us */
.about-us{
  padding: 50px 0;
  background-color: #F9FDFA;
}
.about-us .about-one{
  display: flex;
  flex-direction: row;
}
.about-us .about-one .left-about{
  width: 50%;
  display: flex;
  justify-content: center;
}
.about-us .about-one .left-about img{
  width: 70%;
}
.about-us .right-about{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-us .right-about h3{
  color: #132339;
  margin-bottom: 24px;
  width: 80%;
  font-weight: bold;
  font-size: 30px
}
.about-us .right-about p{
  font-size: 15px;
  color: #565c64;
  margin-bottom: 30px;
  width: 70%
}
.about-us .right-about a.btn{
  max-width: 200px;
  background-color: #FF715D;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
}
/* End About us */
/* Start App Screenshot */
.app{
  padding: 50px 0;
  background-color: #fff;
  border-top: 1px solid #eee;
}
.app .app-row{
  display: flex;
  flex-direction: row;
}
.app .app-row .left-app{
  width: 50%;
  display: flex;
  justify-content: center;
}
.app .app-row .left-app img{
  width: 50%;
}
.app .right-app{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app .right-app h3{
  color: #132339;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 30px
}
.app .right-app p{
  font-size: 16px;
  color: #565c64;
  text-align: center;
}
/* End App Screenshot */
/* Start Download */
.download{
  padding: 50px 0;
  background-color: #F9FDFA;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.download h1.title-down {
  color: #132339;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}
.download h1.title-down:after{
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  left: 3px;
  bottom: -10px;
  background-color: #FF715D
}
.download .row-down{
  display: flex;
  flex-direction: row;
}
.download .row-down .left-down{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.download .row-down .left-down p{
  font-size: 16px;
  color: #565c64;
  margin-bottom: 35px;
}
.download .row-down .left-down .button-down a{
  max-width: 300px;
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid #FF715D;
  margin-right: 15px;
  display: inline-block;
  text-decoration: none;
}
.download .row-down .left-down .button-down a i{
  font-size: 22px;
  color: #132339;
}
.download .row-down .left-down .button-down a span{
  font-size: 16px;
  font-weight: bold;
  color: #132339;
  padding: 0 10px;
}
.download .row-down .right-down{
  width: 50%;
  display: flex;
  justify-content: center;
}
.download .row-down .right-down img{
  width: 80%
}
/* End Download */
/* Start Contact us */
.contact-us h1.title-contact{
  padding: 40px 0;
  color: #132339;
  position: relative;
}
.contact-us h1.title-contact:after{
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  left: 0px;
  bottom: 28px;
  background-color: #FF715D
}
.contact-us .contact-row{
  display: flex;
  flex-direction: row;
}
.contact-us .contact-row .contact{
  width: 50%;
}
.contact-us .contact-row .contact .contact-form{
  margin-bottom: 24px;
  width: 95%
}
.contact-us .contact-row .contact input{
padding: 15px 20px;
border-radius: 50px;
font-size: 14px;
color: #132339
}
.contact-us .contact-row .contact input:focus-visible,
.contact-us .contact-row .contact textarea:focus-visible{
  box-shadow: none;
  border: 0px solid #FF715D
}
.contact-us .contact-row .contact textarea{
  border-radius: 20px;
  padding: 15px 20px;
  font-size: 15px;
  resize: none;
  color: #132339
}
.contact-us .btn{
  margin-top: 30px;
  width: 200px;
  padding: 10px 20px;
  background-color: #FF715D;
  border-color: #FF715D;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
.contact-us .btn i{
  padding: 0 2px
}
/* End Contact us */
/* Start Footer */
footer{
  padding: 50px 0 20px;
  text-align: center;
  background-color: #F9FDFA
}
footer h1{
  color: #FF715D;
  font-size: 25px;
  font-weight: bold;
}
footer .follow-us p{
  font-size: 16px;
  color: #132339;
}
footer .follow-us p a{
  padding: 0 5px;
  margin: 0 5px;
  display: inline-block;
}
footer .follow-us p a i{
  color: #FF715D;
  font-size: 23px
}
footer .copyright{
  margin-top: 30px
}
footer .copyright p{
  font-size: 16px;
  padding-top: 25px;
}
footer .copyright  a{
  text-decoration: none;
  color: #FF715D
}
/* End Footer */
/* Start Media */
@media (max-width:991px){
header .navbar nav ul {
    display: none;
  }
header .navbar nav .toggle-bar{
      display: block;
      color: #FF715D;
      font-size: 40px;
      margin-right: 20px
    }
.download .row-down .left-down .button-down a{
  margin-bottom: 10px
}
}
@media (max-width:767px) {
header  .navbar nav ul{
    display: none;
  }
  header .navbar .logo{
    font-size: 40px
  }
header .navbar nav .toggle-bar{
    display: block;
    color: #FF715D;
    font-size: 40px
  }
  header .navbar{
    width: 700px;
  }
  header{
    width: 750px;
  }
  .section .container{
    flex-direction: column;
    flex-wrap: nowrap
  }
  .section .container .left-section{
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 24px
  }
  .section .container .left-section h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px
  }
  .section .container .left-section p {
    font-size: 30px;
    text-align: center;
    line-height: 1.5
  }
  .section .container .left-section .btn{
    font-size: 25px;
    max-width: 224px
  }
  .section .container .right-section{
    width: 100%;
    background-position: center;
  }
  .features{
    width: 750px;
    padding: 30px 0;
    margin-bottom: 100px
  }
  .features .title-feature h3{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px
  }
  .features .title-feature h3:after{
    left: 235px;
    width: 66px;
    height: 5px;
  }
  .features .row{
    flex-direction: column;
    padding-top: 0
  }
  .features .card{
    padding: 0;
    margin: 5px
  }
  .features .card .icons{
    text-align: center;
    font-size: 40px
  }
  .features .card h3{
    font-size: 32px;
    text-align: center;
  }
  .features .card p{
    font-size: 32px
  }
  .features .card a{
    font-size: 26px;
    text-align: center;
  }
  .about-us{
    width: 750px;
    padding: 20px 0
  }
  .about-us .about-one{
    flex-direction: column;

  }
  .about-us .about-one .left-about{
    width: 100%
  }
  .about-us .right-about{
    width: 100%
  }
  .about-us .right-about h3{
    font-size: 35px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .about-us .right-about p{
    font-size: 29px;
    padding: 0px 10px;
    width: 100%
  }
  .about-us .right-about a.btn{
    max-width: 300px;
    font-size: 32px;
    text-align: center;
  }
  .app{
    width: 750px
  }
  .app .app-row{
    flex-direction: column;
    width: 100%
  }
  .app .app-row .left-app{
    margin: auto;
    width: 59%
  }
  .app .right-app{
    width: 100%
  }
  .app .right-app h3{
    font-size: 42px
  }
  .app .right-app p{
    font-size: 30px;
  }
  .download{
    width: 750px
  }
  .download h1.title-down{
    font-size: 42px;
    text-align: center;
  }
  .download h1.title-down:after{
    width: 74px;
    left: 174px;
    bottom: -7px;
    height: 6px
  }
  .download .row-down{
    flex-direction: column;
  }
  .download .row-down .left-down{
    width: 100%
  }
  .download .row-down .left-down p{
    font-size: 29px;
    margin-bottom: 15px
  }
  .download .row-down .left-down .button-down{
    text-align: center;
  }
  .download .row-down .left-down .button-down a{
    border: 2px solid #FF715D;
    padding: 20px 10px
  }
  .download .row-down .left-down .button-down a span{
    font-size: 25px;
  }
  .download .row-down .left-down .button-down a i{
    font-size: 35px;
  }
  .download .row-down .right-down{
    width: 100%
  }
  .contact-us{
    width: 750px
  }
  .contact-us h1.title-contact{
    text-align: center;
    font-size: 50px
  }
  .contact-us h1.title-contact:after{
    width: 80px;
    height: 6px;
    left: 29%;
    bottom: 25px
  }
  .contact-us .contact-row{
    flex-direction: column;
  }
  .contact-us .contact-row .contact{
    width: 100%;
    margin-right: 20px
  }
  .contact-us .contact-row .contact .contact-form{
    font-size: 30px
  }
  .contact-us .btn{
    font-size: 30px;
    width: 350px;
    text-align: center;
  }
  footer{
    width: 750px
  }
  footer h1{
    font-size: 40px;
    font-weight: bold;
  }
  footer .follow-us p{
    font-size: 35px
  }
  footer .follow-us p a i{
    font-size: 28px
  }
  footer .copyright{
    font-size: 30px
  }
  footer .copyright a{
    font-weight: bold;
  }
}

/* End Media */
